body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.header-section {
    background-color: #fff4d9;
    padding: 15px;
}

.logo {
    width: 206px;
    height: auto;
}

.logo-2 {
    width: 94px;
    height: auto;
    margin-left: 10px;
}

.elementor-button-link {
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    fill: #000000;
    color: #000000;
    background-color: #61CE7000;
    border-radius: 7px 7px 7px 7px;
    padding: 20px 30px 20px 32px;
    text-decoration: none !important;
}

.bttn {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    fill: #FFFFFF;
    color: #003264;
    background-color: #FFCC00;
    border-radius: 7px 7px 7px 7px;
    padding: 20px 30px 20px 32px;
}


/* main-section  */

.main-section {
    padding: 40px 0px;
}

.wrapper-image-hero-rd-2 {
    z-index: 0;
    grid-column-gap: 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    max-width: none;
    height: auto;
    margin-left: auto;
    margin-right: 0;
    padding-top: 0;
    display: flex;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
}

.position-absolut.trustpilot {
    z-index: 10;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    top: auto;
    bottom: 4.5rem;
    left: auto;
    right: 0;
}

.wrapper-truspilot-image.hide-tablet {
    justify-content: center;
    align-items: center;
    width: 8.6rem;
    display: flex;
    position: static;
    bottom: 0;
}

.wrapper-truspilot-image {
    background-color: #fff;
    border-radius: 6.64px;
    min-width: 10rem;
    height: 6rem;
    padding: .5rem;
    top: auto;
    bottom: 2rem;
    left: auto;
    right: 6.5rem;
    box-shadow: 0 2px 14.24px rgba(0, 50, 100, .07);
}

.tp-image-link {
    z-index: 10;
    position: relative;
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

.position-absolut.cobranding {
    z-index: 10;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 3rem;
}

.wrapper-co-branding-image.hide-tablet {
    width: 13.897rem;
    padding: 0;
}

.position-absolut.google-rating {
    z-index: 10;
    position: absolute;
    top: auto;
    bottom: 4.5rem;
    left: auto;
    right: 10.5rem;
}

.wrapper-google-image.hide-tablet {
    position: static;
}


.wrapper-google-image {
    background-color: #fff;
    border-radius: 6.64px;
    width: 12rem;
    min-width: 10rem;
    height: 3.3rem;
    padding: .5rem;
    top: auto;
    bottom: 8.875rem;
    left: auto;
    right: 3.375rem;
    box-shadow: 0 2px 14.24px rgba(0, 50, 100, .07);
}

.image-google-rating {
    z-index: 10;
    position: relative;
}

.inner-wrapper-hero-image-rd {
    z-index: 0;
    justify-content: flex-end;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    display: flex;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.image-hero-desktop-rd {
    z-index: -1;
    max-width: 100%;
    max-height: none;
    margin-top: 0;
    margin-bottom: 0%;
    margin-right: 0;
    padding-top: 0;
    position: relative;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
}

.animation-hero-desktop-rd {
    z-index: -1;
    max-height: none;
    margin-top: 0%;
    margin-right: 0;
    padding-top: 0;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
}

.image-hero-mobile-rd {
    z-index: -1;
    max-width: 130%;
    max-height: none;
    margin-right: 0;
    padding-top: 0;
    display: none;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
}

.animation-hero-mobile-rd {
    z-index: -1;
    max-width: 130%;
    max-height: none;
    margin-right: 0;
    padding-top: 0;
    display: none;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: auto;
    right: 0%;
}

.text-lefts h1 {
    font-size: 46px;
    line-height: 4rem;
    color: #003264;
    font-weight: 700;
}

.text-lefts h2 {
    font-size: 2rem;
    line-height: 2.75rem;
    font-weight: 700;
    color: #003264;

}

.button-large-orange {
    background-color: #FFCC00;
    color: #003264;
    text-align: center;
    border-radius: .25rem;
    padding: 1.125rem 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
    border: none;
}

.button-large-orange:hover {
    color: #003264;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
}

a {
    text-decoration: none !important;
}


/* cards-section */

.cards-section {
    padding: 40px 0px;
}

.orange {
    background-color: #FFF4D9;
}

.tile-home {
    height: 100%;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    width: auto;
    max-width: 31rem;
    min-height: 24rem;
    padding: 0 2rem 2rem;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 50, 100, .07);
}

.heading-style-h4 {
    font-size: 15px;
    line-height: 2.1rem;
    color: #003264;
    font-weight: 700;
}

.heading-style-h5 {
    color: #003264;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
}

.tile-image-round {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 11rem;
    margin-top: -72px;
    margin-bottom: 0;
    display: block;
    position: relative;
}

html.w-mod-touch * {
    background-attachment: scroll !important;
}


.image-tile-home {
    z-index: 0;
    width: 100%;
    max-width: none;
    position: relative;
}

.png-tile-home {
    z-index: 2;
    max-width: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.line-tile-home {
    z-index: -1;
    max-width: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.button-akkordeon {
    justify-content: center;
    align-items: center;
    height: 2.375rem;
    padding: .5rem 2rem;
    display: flex;
}

.holder-view-more {
    margin-right: .6rem;
}

.heading-style-h6 {
    color: #003264;
    line-height: 1.4rem;
    font-weight: 700;
}

.grey {
    background-color: #f7f7f7;
}



.protect-section {
    padding: 40px 0px;
    background-color: #F4F2EF;
}

.title2 {
    font-size: 34px;
    color: #003264;
    font-weight: 700;
    word-break: break-all;
}

.left-img img {
    width: 476px;
    height: auto;
    border-radius: 20px;
}

.image-text__text--green {
    color: #ffa445 !important;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

.content h3 {
    color: #004b5d;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: .3px;
    line-height: 1.3;
    margin-top: 5px;
}

.desc {
    font-size: 17px;
    line-height: 26px;
    color: #004b5d;
    margin: 0 0 30px;
}

.title-content {
    max-width: 590px;
    width: 50%;
}

.title-content h2 {
    font-size: 30px;
    letter-spacing: normal;
    line-height: 1.24;

    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    color: #004b5d;
}

.costs__wrapper {
    margin: 30px auto;
    max-width: 100%;
    padding: 50px 45px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 2px 17px 0 rgba(0, 0, 0, .15);
}

.costs__text-wrapper h3 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 12px;
    padding-right: 10px;
    color: #004b5d;
    white-space: nowrap;
}

.costs__text--green {
    color: #ffa445 !important;
    font-size: 30px !important;
    font-weight: 800;
    margin-bottom: 11px;
}

.costs__text--blue {
    font-size: 20px;
    line-height: 26px;
    color: #004b5d;
    margin-left: 10px;
}

.costs__images img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.cover-section {
    padding: 70px 0;
    background-color: #fff4d9;
}

/* reviews-section */

.reviews-section {
    padding: 5rem 0px;
    background-color: #fff4d9;
}

.titlle {
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #003264;
    word-break: break-all;
    font-weight: 700;
}

.wp-block-heading {
    color: #004b5d;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px;
}

.para {
    color: #004b5d;
    font-size: 14px;
    font-weight: 400;
}

.button a {
    font-size: inherit;
    font-weight: 800;
    height: auto;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0 !important;
    margin-top: 10px;
    text-transform: none !important;
    line-height: 50px;
    text-align: center;
    transition: transform .8s;
}


.slide-content {
    background-color: #fff;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    max-width: 21rem;
    height: 25rem;
    margin: 1rem 0 0;
    padding: 1.5rem;
    display: flex;
}
.video-container {
    position: relative;
}

.video-thumbnail {
    position: relative;
    width: 600px;
    height: 400px;
    cursor: pointer;
    margin: auto;
}

.video-thumbnail img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
    border-radius: 50%;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFCC00;
    background: #FFCC00;
}
#video {
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin: auto;
}

.wrapper-erfahrungen-card {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    display: flex;
    width: 100%;
}

.margin-bottom-1-5-4 {

    margin-bottom: 1.5rem;
    display: block;
}

.wrapper-stars-tp {
    justify-content: center;
    display: flex;
}

.margin-bottom-1-6 {
    margin-bottom: 1rem;
    display: block;
}

.wrapper-name-tp-reviews {
    text-align: left;
    justify-content: space-between;
    height: 2.5rem;
    display: flex;
}

.heading-style-h6 {
    color: #003264;
    line-height: 1.4rem;
}

.wrapper-verifiziert {
    grid-column-gap: .25rem;
    display: flex;
}

.legal-text.blue {
    color: #003264;
}

.paragraph-style-p-light {
    color: #003264;
    font-family: Circulartt book, sans-serif;
    line-height: 1.4rem;
}

.wrapper-date {
    grid-column-gap: 3px;
    flex-direction: row;
    display: flex;
}

.legal-text {

    font-size: .75rem;
    line-height: 1.05rem;
}

.slick-initialized .slick-slide {
    display: flex !important;
    justify-content: center !important;
}

.has-text-align-center {

    color: #004b5d;

    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
}

.mail-card {
    transform: scale(1);
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    transition: all .5s ease-out;
    transition-delay: .2s;
    padding: 25px 22px 12px;
    background-color: #fff;
    border-radius: 22.7px;
    box-shadow: 1px 2px 19px 0 rgba(0, 0, 0, .15);
    margin: 15px;
    transition: all .5s ease-out;
    transition-delay: .2s;
    align-items: center;
    min-width: 300px;
    cursor: pointer;
}

.mail-card:hover {
    transform: scale(1.1);
}

.mail-card img {
    width: 60px;
    height: 60px;
}

.mail-card span {
    font-size: 16px;
    margin-top: 15px;
    font-weight: 800;
    min-height: 42px;
    text-align: center;
    color: #004b5d;
}

.coverr {
    color: #004b5d;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 20px;
}

.button {
    display: flex;
    flex-direction: column;
}

.slick-next:before,
.slick-prev:before {
    color: black !important;
}


/* faq-section  */

.faq-section {
    padding: 60px 0px;
}

.uppertitle {
    color: #003264;
    letter-spacing: .125rem;
    text-transform: uppercase;
    font-size: .75rem;
    margin-bottom: 1rem;
}

.heading-style-h2 {
    font-weight: 700;
}


.heading-style-h5-light {
    color: #003264;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.link {
    color: #003264;
    cursor: pointer;
    text-decoration: underline !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: #003264 !important;
    box-shadow: none !important;
}


.accordion-button:focus {
    box-shadow: none !important;

}

.card-body {
    padding: 0px 20px;
}

.accordion-item {
    border: none !important;
    border-bottom: 2px solid #f7f7f7 !important;
}

.accordion-button {
    color: #003264 !important;
    font-size: 1.25rem !important;
    font-weight: 700 !important;
    line-height: 1.75rem !important;
}

/* footer-section */

.footer-section {
    padding-top: 60px;
    background-color: #fff4d9;
}


.footer-h6 {
    color: #ffa445;
    font-size: 1rem;
    line-height: 1.25rem;

    font-weight: 700;

}

.social-link.home {
    background-image: url(https://assets-global.website-files.com/629a1f9f0aa3294457f1e0df/629a1f9f0aa3298842f1e164_social-home-blue.svg);
    width: 1.5rem;
    height: 1.5rem;
}

.social-link {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.footer-link {
    color: #003264;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
}







.des-non {
    display: none;
}






@media(min-width:990px) {
    .costs__images img {
        border-radius: 20px 0 0 20px;
        float: right;
        margin-right: -125px;
        width: 554px;
        height: 554px;
        object-fit: cover;
    }

    .wp-block-heading {
        font-size: 34px;
        line-height: 42px;
    }

    .para {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 0;
    }

    .has-text-align-center {
        font-size: 34px;
        letter-spacing: normal;
        line-height: 1.24;

    }

    .mail-card {
        transform: scale(1);
        padding: 50px 22px 28px;
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        transition: all .5s ease-out;
        transition-delay: .2s;
    }

    .coverr {
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 0;
        max-width: 400px;
    }
}


@media(max-width:776px) {
    .bttn {
        padding: 10px;
        text-align: center;
    }

    .wrapper-truspilot-image.hide-tablet {
        display: none;
    }

    .position-absolut.cobranding {
        display: none;
    }

    .position-absolut.google-rating {
        display: none;
    }

    .reverse {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .text-lefts h1 {
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: #003264;
        font-weight: 700;
    }

    .text-lefts h2 {
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-weight: 700;
        color: #003264;

    }

    .button-large-orange.button-full-width-mobile.hero {
        padding-left: 1.3rem;
        padding-right: 1.3rem;
        width: 100% !important;

    }

    .button-large-orange.button-full-width-mobile {
        width: 100%;
    }

    .text-lefts {
        text-align: center;
    }

    .gapp {
        gap: 100px;
        margin-top: 50px !important;
    }

    .left-img img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    .title-content {
        max-width: 100%;
        width: 100%;
    }

    .title-content h2 {
        font-size: 24px;
        letter-spacing: normal;
        line-height: 1.24;

    }

    .left-img {
        padding-bottom: 20px;
    }

    .slick-next:before,
    .slick-prev:before {
        display: none !important;
    }

    .centerred {
        justify-content: center !important;
    }

    .costs__wrapper {
        padding: 20px 20px;
    }

    .costs__text--blue {
        margin-left: 0px;
        font-size: 17px;
    }

    .slick-next {
        right: 0px !important;
    }

    .phonee {
        display: none;
    }

    .mob-non {
        display: none;
    }

    .des-non {
        display: block;
    }

    .titlle {
        font-size: 18px;
    }
    .title2{
        font-size: 20px;
    }
    .accordion-button{
        font-size: 14px  !important;
    }
    
.video-container {
    position: relative;
}

.video-thumbnail {
    position: relative;
    width: 100%;
    height: 400px;
    cursor: pointer;
    margin: auto;
}

.video-thumbnail img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none;
    border-radius: 50%;
    /* padding: 10px 20px; */
    font-size: 20px;
    cursor: pointer;
    width: 90px;
    height: 90px;
 
    background: #FFCC00;

}

#video {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.main-section {
    padding-bottom: 20px ;
}
}